@import "../styles/variables.scss";

.rightHeader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  @media (max-width: $breakpoint) {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }
}

.leftHeader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;
  @media (max-width: $breakpoint) {
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
  }
}

.rightHome {
  position: absolute;
  top: 24px;
  right: 40px;
  @media (max-width: $breakpoint) {
    top: 8px;
    right: 15px;
  }
}

.leftHome {
  position: absolute;
  top: 24px;
  right: 150px;
  @media (max-width: $breakpoint) {
    top: 8px;
    right: 100px;
  }
}
